@font-face {
    font-family: 'altone';
    src: url('./assets/fonts/Altone.ttf');
}

@font-face {
    font-family: 'petrov';
    src: url('./assets/fonts/Petrov.ttf');
}

@font-face {
    font-family: 'heavitas';
    src: url('./assets/fonts/Heavitas.ttf');
}